@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    caret-color: transparent;
  }

  body {
    @apply bg-dark-bg text-white antialiased;
    font-family: 'Poppins', 'Inter', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply uppercase tracking-tighter font-bold;
  }
}

@layer components {
  .btn-neon {
    @apply bg-neon-green text-black px-8 py-3 rounded-md font-bold uppercase tracking-widest text-xs transition-all duration-300 hover:shadow-neon hover:scale-105 active:scale-95;
  }

  * {
    caret-color: transparent;
  }

  .section-padding {
    @apply py-24 md:py-32 px-6 md:px-12 lg:px-24;
  }
}

.mask-wipe {
  mask-image: linear-gradient(to right, black 100%, transparent 0%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}