@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-casio-bg text-black antialiased;
  }
}

.mask-wipe {
  mask-image: linear-gradient(to right, black 100%, transparent 0%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}